@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.main {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(229, 23%, 23%);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: right 52vw bottom 25vh, left 48vw top 52vh;
    background-repeat: no-repeat, no-repeat;
    background-color: hsl(185, 75%, 39%);
}

.card {
    width: 100%;
    max-width: 375px;
}

.card-content {
    padding: 0;
}

.card-header {
    background-image: url(./images/bg-pattern-card.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body {
    padding: 1em;
}

.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.horizontal {
    flex-direction: row;
    justify-content: center;
}

.border {
    border: 5px solid white;
}